# dependencies
/node_modules
/.pnp
.pnp.js
# production
/.next
/out
# misc
.DS_Store
.env
.env.local
env.example
.env.development.local
.env.test.local
.env.production.local
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn-error.log
# testing
/coverage
# next.js
.next/
# vercel
.vercel/
.snfoundry_cache/
snfoundry_trace/
coverage/
profile/
.vercel
.yarn