.controlsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: white;
  margin: 15px 0;
}

.selectGroup,
.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: right;
}

.radioGroup label {
  margin-right: 12px;
}

.generateBtn {
  margin-top: 12px;
  padding: 10px 20px;
  background: var(--neon-color);
  border: none;
  border-radius: 8px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
}
.generateBtn:hover {
  transform: scale(1.05);
}
