.controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  position: fixed;
  top: 125px;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(50px);
  background-color: rgba(0, 0, 0, 0.8); /* Light transparent */     
  z-index: 1000;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.item {
    background: transparent;
    border: none;
    cursor: pointer;
}
.controls .row {
  transition: max-height 0.3s ease, opacity 0.3s ease;
}
