.panel {
  animation: fadeSlide 0.6s ease-in-out;
  width: 100%;
}

.title {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #00ffe7;
  text-align: center;
}

.section {
  background: rgba(255, 255, 255, 0.05);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.section h4 {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  color: #fff;
}

.section ul {
  list-style: none;
  padding-left: 0;
}

.section ul li {
  margin: 0.4rem 0;
  color: #ddd;
}

.section p {
  font-size: 0.95rem;
  margin: 0.4rem 0;
  color: #ccc;
}

.green {
  color: #00ffae;
}

.red {
  color: #ff5e5e;
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.tutorialSlider {
  height: 6.9rem; /* 3 items x 1.5rem */
  overflow: hidden;
  position: relative;
  overflow-y: auto;
}

.tutorialInner {
  display: flex;
  flex-direction: column;
}

.tutorialItem {
  line-height: 20px;
  color: #ccc;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.newsSlider {
  text-align: center;
  position: relative;
  height: 55px;
}

.newsText {
  width: 100%;
  overflow-y: auto;
  font-size: 0.6rem !important;
  margin: 0.5rem 0;
}

.dots {
  margin-top: 0.8rem;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: gray;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.dot.active {
  background-color: #00ffe7;
  opacity: 1;
}
/* 
.coinsText {
  font-size: 0.8rem;
  color: #ccc;
  margin-top: 0.5rem;
} */

.coinsContainer {
  font-size: 0.7rem;
}